<div class="random-lorem-text">
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" (click)="onGetLoremText()">
      Get some random Lorem text
    </button>
    <div class="lorem-response" *ngIf="randomText !== undefined">
      <p>
        {{ randomText.very_long_sentence }}
      </p>
      <p class="lorem-question">{{ randomText.questions[6] }}</p>
      <p>
        {{ randomText.paragraphs[0] }}
        {{ randomText.paragraphs[1] }}
        {{ randomText.paragraphs[2] }}
      </p>
      <p class="lorem-question">{{ randomText.questions[3] }}</p>
      <p>
        {{ randomText.paragraphs[1] }}
        {{ randomText.paragraphs[0] }}
        {{ randomText.paragraphs[2] }}
      </p>
      <p class="lorem-question">{{ randomText.questions[0] }}</p>
      <p>
        {{ randomText.paragraphs[2] }}
        {{ randomText.paragraphs[0] }}
        {{ randomText.paragraphs[1] }}
      </p>
    </div>
  </div>
</div>
