<nav class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="https://random.imagecdn.app/500/150"
        alt="random"
        width="30"
        height="30"
        class="d-inline-block align-text-bottom"
      />
      &nbsp;&nbsp;&nbsp;&nbsp;RandomApp
    </a>
  </div>
</nav>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/random-users"
      routerLinkActive="nav-link active"
      >Random users</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/country-information"
      routerLinkActive="nav-link active"
      >Country information</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/football"
      routerLinkActive="nav-link active"
      >Football</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/cocktails"
      routerLinkActive="nav-link active"
      >Cocktails</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/other-random-data"
      routerLinkActive="nav-link active"
      >Other random data</a
    >
  </li>
</ul>
