<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="https://random.imagecdn.app/500/150"
        alt="random"
        width="30"
        height="30"
        class="d-inline-block align-text-bottom"
      />
      &nbsp;&nbsp;&nbsp;&nbsp;RandomApp
    </a>
  </div>
</nav>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLink="/random-users"
      routerLinkActive="nav-link active"
      >Random users</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/country-information"
      routerLinkActive="nav-link active"
      >Country information</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Football</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Cocktails</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Other random data</a>
  </li>
</ul>
